@import "tailwindcss";

:root {
  --background: hsl(0, 0, 100%);
  --secondary: hsl(0, 0, 90%);
  --foreground: hsl(0, 0%, 0%);
  --accent: #0c4e96;
  --accent-light: #0e65c2;
}

@theme inline {
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.card-flip-container {
  margin-top: 1rem;
  width: 18rem;
  aspect-ratio: 10/6;
  position: relative;
  perspective: 800px;
  cursor: pointer;
}
.card-flip {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s cubic-bezier(0.3, 0.8, 0.2, 1.3);
  border-radius: 1rem;
  z-index: 1;
}
.card-flip-front,
.card-flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.5rem;
  background-color: var(--bg-dark);
}
.card-flip-back {
  transform: rotateY(180);
}
.card-flip.flipped {
  transform: rotateY(180);
}
